<div style ="width:987px;margin:0 auto 0 auto;">
    <div style="height:89px;" class = "JM_title">
        Plan Estratégico
    </div>
    <div class="JM_subTitleBig; padding:0px">
        <div class ="JM_formName">
            Usuario: 
        </div>
        <div class="JM_formInput">
            <input  style="width:100%;height:100%" ng-model="user" type="text" placeholder="digite el nombre de usuario">
        </div>
        <div class ="JM_formName">
            Contraseña: 
        </div>
        <div class="JM_formInput">
            <input  style="width:100%; height:100%" ng-model="pass" type="password" placeholder="digite su contraseña">
        </div>
        <div style="float:left;width:377px;height:55px;padding:8px;font-size:25px">
            <button ng-click = "login()">
                entrar
            </button>
        </div>


    </div>
</div>